.Event{

    .wrapper{
        position: relative;
        width: 100%;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly; 
        gap: 24px; 
    }
}